{% load static %}

<div class="card p-0 m-0" style="width: 18rem;">
  <div class="d-flex h-100 justify-content-around flex-column p-3 m-0 text-center">
    <div class="informacion">
      <h5 class="card-title"><i class="fas fa-project-diagram me-2"></i>Proyectos</h5>
      <p class="card-text">
        <i class="fas fa-info-circle me-2"></i>Acceda a las diferentes informaciones respecto a los proyectos de gestión de conocimiento, evalue los mismos y verifique los mismos en los que esta participando.
      </p>
    </div>
  </div>
</div>
