{% load static %}
<section class="container position-relative cards d-flex justify-content-center align-items-center flex-column flex-md-row mt-5">
  {% include 'components/cardinf_user.html' %}
  <div class="card d-flex justify-content-center align-items-center" style="width: 30rem;">
    <div class="card-body d-flex justify-content-center align-items-center">
      <div class="col text-center p-2">
        <p class="m-0 p-0">Proyecto actual</p>
        {% if anteproyecto %}
          <h5 class="card-title">{{ nombre_anteproyecto }}</h5>
        {% else %}
          <p class="text-muted mb-0">Aun no se ha aprovado alguna solicitud de anteproyecto.</p>

          <small class="text-secondary">
            Cree una solicitud en el siguiente link
            <a href="{% url 'estudiante:solicitud' %}" class="link-primary ms-1 text-decoration-none">Crea una solicitud</a>
          </small>
        {% endif %}
      </div>

      {% comment %}datos de la retroalimentacion{% endcomment %}
      <div class="col p-2" style="background: #00ff000a;
    border: 1px solid #cacaca;border-radius:8px;">
        <p class="p-0 m-0">
          <b>Anteproyecto:</b>
          {% if anteproyecto.estado %}
            Aprobado.
          {% else %}
            {% if anteproyecto.estado == None %}
              Aún no hay una respuesta.
            {% else %}
              {% if anteproyecto.estado == False %}
                Rechazado.
              {% else %}
                Aún no hay una respuesta.
              {% endif %}
            {% endif %}Aún no hay una solicitud de anteproyecto.
          {% endif %}
        </p>

        {% comment %}datos del proyecto final{% endcomment %}
        <p class="p-0 m-0">
          <b>Proyecto final:</b>
          {% if proyecto_final %}
            {% if proyecto_final.estado %}
              Aprobado.
            {% else %}
              Aún no se ha enviado la solicitud de proyecto final.
            {% endif %}
          {% else %}
            Aún no hay una solicitud de proyecto final.
          {% endif %}
        </p>
        {% if retroalimentacion_anteproyecto.fecha_retroalimentacion %}
          <p class="p- mt-2">
            <small><strong>Inicio del proyecto:</strong> {{ retroalimentacion_anteproyecto.fecha_retroalimentacion|date:'d/m/Y' }}</small><br />
            <small><strong>Fecha estimada de finalización del proyecto:</strong> {{ fecha_culminacion_anteproyecto|date:'d/m/Y' }}</small>

            {% comment %} <b>Avance:</b>
            {% if proyecto_final %}
              {% if proyecto_final.avance %}
                {{ proyecto_final.avance }}%
              {% else %}
                0%
              {% endif %}
            {% else %}
              0%
            {% endif %} {% endcomment %}
          </p>
        {% endif %}
      </div>
    </div>
  </div>

  <img src="{% static 'icons/icons_nav/logoUDEC.png' %}" alt="LogoUDEC" class="position-absolute imagen-fondo" />

  {% comment %}seccion de la configuracion de cuenta{% endcomment %}

  {% comment %}recordar el manejo de mediaquerys{% endcomment %}
  <style>
    #panel_config {
      top: -20px;
      margin-bottom: 30px;
      border-radius: 8px;
      overflow: hidden;
      background: #f9f9f9;
      border: 1px solid #d0d0d0;
    }
  </style>
</section>
